.controleur {
  margin: 5px auto 5px auto;
  text-align: center;
  width: 80%;
}
.shadowed {
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.42);
}
.reponsive-video {
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.42);
}
.reponsive-video .progress {
  margin: 0 auto 0 auto;
  border-radius: 0;
  background-color: #ffc5b8;
  padding-bottom: 10px;
  cursor: pointer;
}
.reponsive-video .progress .determinate {
  border-radius: 0;
  background-color: #8b1014;
}
.reponsive-video .btn-floating {
  -webkit-transition: ease 1s;
  -moz-transition: ease 1s;
  -ms-transition: ease 1s;
  -o-transition: ease 1s;
  transition: ease 1s;
  background-color: #F44336 !important;
}
.reponsive-video .btn-floating:hover {
  background-color: #ff8c0f !important;
}
.reponsive-video .time {
  position: relative;
  margin-right: 5%;
  margin-left: auto;
  width: 10%;
  font-size: smaller;
}
@media (max-width: 479px) {
  .reponsive-video .time {
    margin-right: 10%;
  }
}
.reponsive-video video {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.nav-wrapper .brand-logo {
  width: 80%;
}
